.fas.fa-cat{
    padding-left: 10px;
    font-size: 20px;
}

.blue.fas.fa-cat{
    color: rgb(81, 171, 255);
}

.blue-scuro.fas.fa-cat{
    color: rgb(0, 68, 131);
}

.pink.fas.fa-cat{
    color: pink;
}

.pink-scuro.fas.fa-cat{
    color: rgb(255, 77, 106);
}

/* MILESTONE 3 */

ul.cats-m3{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.black.fas.fa-cat{
    font-size: 70px;
}

ul.cats-m3 li{
    position: relative;
}

ul.cats-m3 li i:hover .info{
    display: block;
} 

.info{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    left: 50px;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: none;
}